button{
  background-color: blue;
  color:white;
  display: flex;
  float: left;
  margin-right: 20px;

  
}
.product{
  display: flex;
  justify-content: center;
  
  margin:100px auto;
  flex-wrap: wrap;
}
.product-cart{
  width: 300px;
  margin:2rem;
}